# Executables and debug files
main
*.exe
*.dSYM
*.stackdump

# Savestates
*.[nN][xX][nN]

# Cache
.cache/
.cache/clangd/
.cache/clangd/index/
cache/

# Visual debugger configurations
.vscode/
.vs/
*.vcxproj
*.vcxproj.*
*.xcodeproj/

# Output files
*.log
*.out
*.o
build/
debug/
release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Files created by text editors
*~
*.lock
*.swp

# Visual Studio code coverage results
*.coverage
*.coveragexml